body {
    background-color: white;
    font-family: 'karla', sans-serif;
    
}
.header-content {
        height:500px
        background-image: url()images/kayak-bkgd.jpg')
        background-size: cover;
.container {
   width: 1140px
  margin: auto;
  background-color: white;
}

nav {
    background-color: black;
    color: white;
    text-transform: uppercase;
    margin-bottom:0px;
}
    nav ul {
        list-style: none;
        text-align: right;
    }
    
    nav ul li {
     display:incline;
     padding:8px
    }
    
    .header-content {
        background-image: url()images/kayak-bkgd.jpg')

    }
.hero {
    background-image: url(image/kayak-bkgd.jpg);
    background-repeat:no-repeat
    background-position:center;
    bakcground-color:blue;
  color:white;
  text-allign: center;
  padding: 50px;
}

    .hero p{
        color:white
    }

    .hero h2{
        color:white;
    }

    .hero h4{
        background-color:rgba(0,0,0,0.5);
        display: inline-block;
        padding: 5px;
    }
    .hero p {
        text-transform: uppercase;
     }

h1 {
    font-family: 'pacificio', cursive, serif;
    
}

h2 {
    text-align: center;
    color: #646464
}
p {
    font-size:16px;
    color: #2d2d2d;
    
}

button {
    background-color: #e2574c;
    color:white;
    border: none;
    padding: 10px;
    border-radius: 50px;
}

    button:hover {
        background-color: #b64036;
    }
a {
    color: #e2574c;
}

a:hover {
    color: #b64036;
}

footer {
    background-color: rgb(36,36,36);
}
    footer p {
        color:white;
    
    }
